@page "/authentication/forgot-password"
@inject IToastMessageService _toastMessageService;
@inject IAuthenticationService _authenticationService;
@inject NavigationManager _navigation;


<div class="h-75 w-100 justify-content-center d-inline-block pt-3 ">
    <div class="container justify-content-center border border-1 pt-3" style="max-width: 600px; min-width:300px;">
        <div class="row">
            <div class="col-12">
                <h1>Password reset</h1>
            </div>
        </div>
        @if (StateModel == State.Send)
        {
            <div class="row mt-3">
                <EditForm Model="@SendCodeModel" OnSubmit="TrySendCodeVerification">
                    <DataAnnotationsValidator />
                    <div class="form-floating col-12">
                        <InputText type="email" class="form-control" id="email" @bind-Value="@SendCodeModel.Email" />
                        <label for="email">Email</label>
                        <ValidationMessage For="()=>SendCodeModel.Email" />
                    </div>
                    <div class="col-12 text-center my-2">
                        @if (IsDisabled)
                        {
                            <p class="text-primary">@DisabledTime</p>
                        }
                        <button class="btn btn-primary px-5" type="submit" disabled="@IsDisabled">Send code</button>
                    </div>
                </EditForm>
            </div>
            <div class="row mt-3">
                <EditForm Model="@ConfirmCodeModel" OnSubmit="TryConfirmCodeVerification">
                    <DataAnnotationsValidator />
                    <div class="form-floating col-12">
                        <InputText type="text" class="form-control" id="code" @bind-Value="@ConfirmCodeModel.Code" />
                        <label for="code">Verification code for @ConfirmCodeModel.Email</label>
                        <ValidationMessage For="()=>ConfirmCodeModel.Code" />
                    </div>
                    <div class="col-12 text-center my-2">
                        <button class="btn btn-primary px-5" type="submit">Confirm</button>
                    </div>
                </EditForm>
            </div>
        }
        else
        {
            <div class="row mt-3">
                <EditForm Model="@ResetModel" OnSubmit="TryResetPassword">
                    <DataAnnotationsValidator />
                    <div class="form-floating col-12  my-2">
                        <InputText type="password" class="form-control" id="password" @bind-Value="@ResetModel.Password" />
                        <label for="password">Password</label>
                        <ValidationMessage For="()=>ResetModel.Password" />
                    </div>
                    <div class="form-floating col-12 my-2">
                        <InputText type="password" class="form-control" id="repeat-password" @bind-Value="@ResetModel.ConfirmPassword" />
                        <label for="repeat-password">Repeat password</label>
                        <ValidationMessage For="()=>ResetModel.ConfirmPassword" />
                    </div>

                    <div class="col-12 text-center my-2">
                        <button class="btn btn-primary px-5" type="submit">Reset</button>
                    </div>
                </EditForm>
            </div>
        }
    </div>
</div>

