@page "/product/{id}"
@inject IProductService _productService
@inject IToastMessageService _toastMessageService;

<div class="container  item-detail">

    @if (isLoading)
    {
        <Loader />
    }
    else
    {
        @if (_isExist)
        {
            <div class="row">
                <div class="col">
                    <span class="item-detail-description">Title</span>
                    <h5 class="item-detail-body-header">
                        <a href="product/@_product!.Id" class="item-detail-body-link">
                            @_product.Title
                        </a>
                    </h5>
                </div>
                <div class=col-auto>
                </div>
            </div>
            <div class="row">
                <div class="col-auto item-detail-image-wrapper">
                    <a href="product/@_product!.Id" class="item-detail-body-link">
                        <img src="@_product.Image" class="item-detail-image" alt="@_product.Title">
                    </a>
                </div>
                <div class="col">
                    <span class="item-detail-description">Description</span>
                    <p class="item-detail-body-description">@_product.Description</p>
                    <span class="item-detail-description">Variants</span>
                    <p class="item-detail-body-description">@_product.Description</p>
                    <AuthorizeView Context="buy_context">
                        <Authorized>
                            <button class="btn btn-primary"> <i class="bi bi-cart"></i> Add to card</button>
                        </Authorized> 
                    </AuthorizeView>
                    <AuthorizeView Roles="administrator" Context="edit_context">
                        <Authorized>
                            <a class="btn btn-danger" href="admin/edit-product/{@Id}"> <i class="bi bi-pencil-square"></i> Edit </a>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        }
    }
</div>



